<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Small Business Management ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <style>
        .wrapper {
            display: flex;
            width: 100%;
            align-items: stretch;
        }


        .wrapper {
            display: flex;
            align-items: stretch;
        }

        #sidebar {
            min-width: 250px;
            max-width: 250px;
        }

            #sidebar.active {
                margin-left: -250px;
            }



        #sidebar {
            min-width: 250px;
            max-width: 250px;
            min-height: 100vh;
        }



        a[data-toggle="collapse"] {
            position: relative;
        }

        .dropdown-toggle::after {
            display: block;
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
        }





       
        body {
            font-family: 'Poppins', sans-serif;
            background: #fafafa;
        }

        p {
            font-family: 'Poppins', sans-serif;
            font-size: 1.1em;
            font-weight: 300;
            line-height: 1.7em;
            color: #999;
        }

        a, a:hover, a:focus {
            color: inherit;
            text-decoration: none;
            transition: all 0.3s;
        }

        #sidebar {
            /* don't forget to add all the previously mentioned styles here too */
            background: #3385ff;
            color: #fff;
            transition: all 0.3s;
        }

            #sidebar .sidebar-header {
                padding: 20px;
                background: #3385ff;
            }

            #sidebar ul.components {
                padding: 20px 0;
                border-bottom: 1px solid #47748b;
            }

            #sidebar ul p {
                color: #fff;
                padding: 10px;
            }

            #sidebar ul li a {
                padding: 10px;
                font-size: 1.1em;
                display: block;
            }

                #sidebar ul li a:hover {
                    color: #7386D5;
                    background: #fff;
                }

            #sidebar ul li.active > a, a[aria-expanded="true"] {
                color: #fff;
                background: #6d7fcc;
            }

        ul ul a {
            font-size: 0.9em !important;
            padding-left: 30px !important;
            background: #6d7fcc;
        }
        #sidebar {
            width: 100px;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Small Business Management System", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <nav id="sidebar">
                <div class="sidebar-header">
                    <h1>Admin Panel</h1>
                </div>

                <ul class="list-unstyled components">

                    
                    <li>
                        <a href="../Category/Add">Category</a>
                    </li>
                    <li>
                        <a href="../Products/Add">Product</a>
                    </li>
                    <li>
                        <a href="../Purchases/Add">Purchase</a>
                    </li>
                    <li>
                        <a href="../Stocks/Add">Stock</a>
                    </li>

                    <li>
                        <a href="../Sales/Add">Sales</a>
                    </li>
                    <li>
                        <a href="../Suppliers/Add">Supplier</a>
                    </li>
                    <li>
                        <a href="../Customers/Add">Customer</a>
                    </li>
                </ul>
            </nav>
        </div>
        
        <div class="col-md-10">
            <div class="container body-content">
                <div class="container">
                    @RenderBody()
                    <hr />
                    <div>
                        <footer>
                            <p class="text-center">&copy; @DateTime.Now.Year -  Small Business Management ASP.NET Application</p>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {

            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });

        });
    </script>

    @RenderSection("Scripts", false)
</body>
</html>