@model SmallBusinessManagementApp.Models.Models.Product
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@{
    ViewBag.Title = "Customer Create";
}

@if (ViewBag.SMsg != null)
{
    <p style="color: green; font-weight: bolder">@(ViewBag.SMsg)</p>
}

else if (ViewBag.FMsg != null)
{
    <p style="color: red; font-weight: bolder">@(ViewBag.FMsg)</p>
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="panel-group">
        <div class="panel panel-success">
            <div class="panel-heading">
                <div class="panel-title">Customer Details</div>
            </div>
            <div class="panel-body">
                <div class="form-group row">
                    @Html.Label("Code", "Product Code *", new { @class = "control-label col-md-4" })
                    @Html.TextBox("Code", null, new { @class = "form-control col-md-4" })
                    @Html.ValidationMessageFor(c => c.Code, null, new { @class = "text-danger" })
                </div>


                <div class="form-group row">
                    @Html.Label("Name", "Product Name *", new { @class = "control-label col-md-4" })
                    @Html.TextBox("Name", null, new { @class = "form-control col-md-4" })
                    @Html.ValidationMessageFor(c => c.Name, null, new { @class = "text-danger" })
                    @if (ViewBag.DMsg != null)
                    {
                        <p style="color: red; font-weight: bolder">@(ViewBag.DMsg)</p>
                    }
                </div>

                <div class="form-group row">
                    @Html.Label("Category", "Product Category *", new { @class = "control-label col-md-4" })
                    @Html.TextBox("CategoryName", null, new { @class = "form-control col-md-4" })
                    @Html.ValidationMessageFor(c => c.CategoryName, null, new { @class = "text-danger" })
                </div>


                <div class="form-group row">
                    @Html.Label("ReOrderLevel", "ReOrderLevel *", new { @class = "control-label col-md-4" })
                    @Html.TextBox("ReOrderLevel", null, new { @class = "form-control col-md-4" })
                    @Html.ValidationMessageFor(c => c.ReorderLevel, null, new { @class = "text-danger" })
                </div>

               
                <div class="col-md-4 pull-right col-md-offset-4">
                    <input type="submit" class="btn btn-success" value="Update" />
                </div>
            </div>
        </div>


    </div>
}

